<section id="about" class="about bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 padding" >
                <img  src="../../../assets/img/streaming-flat.png" alt="conferencias streaming">
            </div>
            <div class="col-md-6 header-content-inner">
                <h2 class="section-heading">¿Que es <b>easyCast?</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptates distinctio ratione. Inventore sint odio nostrum maxime esse autem recusandae deleniti non id. Exercitationem pariatur praesentium labore tenetur quaerat neque.</p>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Estoy convencido</a>
                <a href="#download" class="btn btn-outline btn-xl page-scroll mas">Saber Más</a>
            </div>
        </div>
    </div>
</section>
<div data-aos="fade-up-right">
</div>
