<nav id="mainNav" class="navbar navbar-default navbar-fixed-top "data-spy="affix" data-offset-top="100">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">
                  <img alt="brand" src="assets/img/logo.png">
               </a>
           </div>

           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                   <li>
                       <a class="page-scroll" href="#about">About</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#dispositivos">dispositivos</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#soluciones">Soluciones</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#contact">Contact</a>
                   </li>
               </ul>
           </div>
       </div>
   </nav>

   <header>
       <div class="container-fluid">
           <div class="row">
               <div class="col-sm-12 imagen-header">
                 <div class="col-sm-6 col-md-offset-3 text-center header-content">
                   <div class="header-content-inner btn-about">
                       <h1>La mejor experiencia del streaming</h1>
                       <a href="#about" class="btn-desktop btn btn-outline btn-xl page-scroll">Conocenos</a>
                   </div>
                 </div>
                 <div align="center" class="video embed-responsive embed-responsive-16by9">
                    <video autoplay loop class="embed-responsive-item">
                        <source src="assets/img/video1.mov" type="video/mp4">
                    </video>
                 </div>
               </div>
           </div>
           <a href="#about" class="btn-movil btn btn-outline btn-xl page-scroll">Conocenos</a>
       </div>
   </header>
