<section id="contact" class="contact bg-primary">
    <div class="container">
      <div class="row">
        <h3 class="text-center">Envianos un mail para ofrecerte el mejor servicio.</h3>
        <div class="col-md-6 col-sm-12 info-contact">
          <img src="assets/img/logo-footer.png" alt="">
          <h3>INFORMACIÓN DE CONTACTO</h3>
          <ul>
            <li><b>Email:</b> contacto@easycast.com</li>
            <li><b>Telefono:</b> 12312312</li>
            <li><b>skype:</b> easycast</li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 ">
          <form action="" class="header-content-inner">
            <input type="text" placeholder="Nombre" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <textarea placeholder="Message" name="message" required></textarea>
            <a class="btn btn-outline btn-xl page-scroll" href="#contact">Enviar</a>
          </form>
        </div>
      </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2017 easycast. All Rights Reserved.</p>
    </div>
</footer>
