<section id="soluciones" class="cta soluciones">
    <div class="cta-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>Soluciones empresariales</h2>
              <ul class="soluciones">
                <li>
                  <a href=""><img src="../../../assets/img/003-american-government-building.png" alt=""></a>
                  <p>GOBIERNO</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/012-cup.png" alt=""></a>
                  <p>DEORTE</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/006-agency-connection.png" alt=""></a>
                  <p>AGENCIAS</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/005-computer-screen.png" alt=""></a>
                  <p>TV</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/009-video-conference.png" alt=""></a>
                  <p>CONFERENCIAS</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/011-graph.png" alt=""></a>
                  <p>CORPORATIVOS</p>
                </li>
                <li>
                  <a href=""><img src="../../../assets/img/001-musical-note.png" alt=""></a>
                  <p>MUSICA</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
