/* You can add global styles to this file, and also import other style files */
.heading-font {
font-family: 'Roboto', sans-serif;  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
font-family: 'Roboto', sans-serif;}
.alt-font {
font-family: 'Roboto', sans-serif;  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
font-family: 'Roboto', sans-serif;}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'roboto';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-brand>img{
  width: 70%;
  max-width: 170px;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: grey !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}


.navbar-right li a{
  color: red;
}
/**/


.imagen-header{
  margin: 0;
  padding: 0;
  position: relative;
}

.header-content{
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 30%;
	margin: auto;
  z-index: 100;
}
.header-content-inner > h1 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto;
}
.header-content-inner{
  text-align: center;
}
.header-content-inner > a {
  font-family: 'Roboto', serif;
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  background: #00bd3e;
  width: 197.38px;
  height: 40.33px;
}
.btn-movil{
  display: none;
}
.about{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content-inner > h2{
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}
.header-content-inner > a{
  width: 150px;
}
.header-content-inner > .mas{
  width: 150px;
  margin-right: 1em;
  background: #a5a5a5;
}



.features{
background: grey;
width: 100%;
height: 100vh;
background-image: url(./assets/img/img-seccion-3.jpg);
background-repeat: no-repeat;
/*background-attachment: fixed;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.dispositivos h2{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 40%;
  display: block;
  margin: 25px auto;
}
.stream{
  margin-top: 2em;
}
.stream h2{
  font-size: 70px;
  font-family: 'Lato', sans-serif;
}
.stream h4{
  color: white;
  font-size: 1.5em;

}
.stream h2{
  color: white;
}
.soluciones:nth-child(1){
  margin-bottom: 2.7em;
}
.soluciones h2{
  margin: .5em 0 1em 0;
  font-size: 70px;
  font-family: 'lato', sans-serif;
}
.soluciones li{
  list-style-type: none;
  display: inline-block;
  border:2px solid rgba(0,0,0,.3);
  border-top-color: #124199;
  border-right-color: #0084DB;
  border-bottom-color: #124199;
  border-left-color: #0084DB;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1em;
  cursor: pointer;
}
.soluciones li:hover{
  border-top-color: #0084DB;
  border-right-color: #124199;
  border-bottom-color:#0084DB;
  border-left-color: #124199;
  cursor: pointer;

}
.soluciones li a img{
  width: 20px;
}
.soluciones .centrado {
  position: relative;
  top: 30%;
}

.img-responsive{
  width: 100%;
  height: 100vh;
}
.screen{
  background: grey;

  height: 100vh;
  /*background-image: url(./assets/img/header-img.jpg);
  background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
form {
  width: 100%;
  margin: 10% auto;
  min-width: 9em;
}

input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #f4f4f4;
  color: #7a7a7a;
}
input[type=submit], textarea[type=submit] {
  background: green;
  color: #fff;
  width: auto;
  float: right;
}
input::placeholder, textarea::placeholder {
  color: #7a7a7a;
}
input.error, textarea.error {
  background: red;
  color: #fff;
}
input.error::placeholder, textarea.error::placeholder {
  color: black;
}

textarea {
  height: 150px;
}

.info-contact{
  margin-top: 60px;
}
.info-contact h3{
  color: #fcfcfc;
}
.info-contact ul li{
  list-style-type: none;
  padding: .5em 0;
}
.info-contact ul li b{
  color: #c6c6c6;
}





/*Responsive*/

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    margin:0;
    padding: 6px;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color:white;
    font-weight: bold;
    font-size: 15px;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-brand>img{
    width: 170px;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #0084DB;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: grey;
  }
}
@media (max-width: 480px) {
  .video{

  }
  .header-content{
    width: 100%;

  }
  .header-content h1{
    font-size: 18px;
  }
  .btn-desktop{
    display: none;
  }
  .btn-movil{
    font-family: 'Roboto', serif;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    background: #00bd3e;
    width: 197.38px;
    height: 40.33px;
    display: block;
    margin: 3px auto;
  }

  .about img{
    width: 200px;
  }
}


/*
.loading {
    background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
    opacity: 0;
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition: opacity .6s;
}
.loaded section {
    opacity: 1;
}*/
